In [1]:
import pandas as pd

 ## Reading Data

In [5]:
df = pd.read_csv('data.csv')

In [6]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.937950         0   42          1           1              0
1   98.578560         1   42          0           1              1
2  100.812845         1    4          0           1              1
3   99.472076         0   55          1           0              1
4  100.713826         1    2          1           1              0

In [7]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2570   98.861679         0   47          1           1              1
2571   99.256657         0   69          1           1              0
2572  101.323194         1   92          0          -1              0
2573  100.788697         0   97          0          -1              1
2574   99.173563         0   54          1          -1              1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2575 non-null   float64
 1   bodyPain       2575 non-null   int64
 2   age            2575 non-null   int64
 3   runnyNose      2575 non-null   int64
 4   diffBreath     2575 non-null   int64
 5   infectionProb  2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [10]:
df['diffBreath'].value_counts()

 1    901
-1    850
 0    824
Name: diffBreath, dtype: int64

In [11]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,99.946497,0.502913,50.389126,0.490097,0.019806,0.490097
std,1.162319,0.500089,29.038932,0.499999,0.824543,0.499999
min,98.000120,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.945925,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,99.931212,1.000000,50.000000,0.000000,0.000000,0.000000
75%,100.921610,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999905,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test spliting

In [12]:
import numpy as np

In [15]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [16]:
train, test = data_split(df, 0.2)

In [17]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1703  100.601951         1   47          1           0              0
1675  101.008136         0   33          0           0              0
1518  100.152104         0    7          0          -1              0
361   101.032555         0   75          0          -1              1
1544   98.691836         1   10          1           1              1
...          ...       ...  ...        ...         ...            ...
1638   98.941501         0    1          1          -1              1
1095   98.475029         0    3          0          -1              1
1130  101.018707         0   78          1           0              0
1294   99.062797         0   74          1          -1              1
860   100.091280         1   49          0           0              0

[2060 rows x 6 columns]

In [18]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1644   99.672326         0    7          0           0              1
1189  101.834049         1   46          0           0              1
495    99.468420         0   31          0           0              0
1656  100.788964         1   13          0           1              0
651    98.384447         1   50          0          -1              1
...          ...       ...  ...        ...         ...            ...
1627   99.716136         1   27          1           0              1
471   101.237254         0    4          1           1              1
700    98.973973         0   76          0           0              1
25     98.469955         1   37          0           0              0
755    99.235008         1   24          0           1              0

[515 rows x 6 columns]

In [25]:
x_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
x_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [34]:
y_train = train[['infectionProb']].to_numpy().reshape(2060,)
y_test = test[['infectionProb']].to_numpy().reshape(515,)

In [35]:
from sklearn.linear_model import LogisticRegression

In [38]:
clf = LogisticRegression()
clf.fit(x_train, y_train)

LogisticRegression()

In [53]:
inputfeatures = [100, 1, 22, -1, 1]
infprob = clf.predict_proba([inputfeatures])[0][1]

In [54]:
infprob

0.42491248116458075